<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EmployerList</title>
</head>

<body>
    <h2>Staff Detials</h2>
    <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Title</th>
          <th>Salary</th>
        </tr>
        <tr th:each="oneEmployer: ${Alldata}">
            <th th:text="${oneEmployer.Name}"></th>
            <th th:text="${oneEmployer.Title}"></th>
            <th th:text="${oneEmployer.Salary}"></th>
            <th th:text="${oneEmployer.id}"></th>
            <td ><a role="button" th:href="@{/(id = ${oneEmployer.id})}">Update</a></td>

         
        </tr>
      </table>
    <a role="button" href="/">Home</a>
</body>
</html>