@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=calendar_today");
@import url('https://fonts.googleapis.com/css2?family=WDXL+Lubrifont+TC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');
@import "tailwindcss";


:root {
    font-family: "Montserrat", sans-serif;
}

@theme{
    --font-Montserrat-Alternates: Montserrat Alternates;
    --font-WDXL-Lubrifont-TC: WDXL Lubrifont TC;
    --font-Bebas-Neue: Bebas Neue;
}


@layer utilities{
    .OutlineText {
        -webkit-text-stroke-color: #D9D9D9;
        -webkit-text-stroke-width: 1px;
        paint-order: stroke fill;
    }
    .bg-gradient-custom{
        background: linear-gradient(to right , #dbeafe 95%, #1e3a8a 5%);
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
    }


}



.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}


.tooltip {
    @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
    @apply visible z-50  transform -translate-y-13 -translate-x-20;
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* TipTap editor tweaks */
.tiptap .ProseMirror:focus {
  outline: none;
}
.tiptap .ProseMirror {
  min-height: 4rem; /* about two lines */
}
