<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>

<body>
  <form method="post" th:object="${Employer}" th:action="@{/submit}" >
    
    <label for="Name">Name</label><br>
    <p th:errors="*{Name}"></p>
    <input type="text" th:field="*{Name}"> <br>
    <label for="Title">Title</label><br>
    <p th:errors="*{Title}"></p> 
    <input type="text" th:field="*{Title}"> <br>
    <label for="Salery">Salary</label>
    <p th:errors="*{Salary}"></p><br>
    <input type="text" th:field="*{Salary}"> <br>
    <label for="id">id</label>
    <input type="text" th:field="*{id}"> <br> <br>
    <p>ID in Form: <span th:text="${Employer.id}"></span></p>
    <input type="submit" value="submit">
  </form>
</body>
</html>